* {
  padding: 0px;
  margin: 0;
}

body {
  background-color: #556B2F;
  /* cinza bem claro, elegante e suave */
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0;

  & li {
    list-style-type: none;
  }
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: beige;
}
#bege{
  color: beige;
}

.cabeçalho-menu {
  display: flex;
  gap: 30px;
  color: beige;
}


.cabeçalho-menu-item {
  font-family: "Montserrat", sans-serif;

}

.cabeçalho-menu-item:hover {
  color: #0400ff;
  text-decoration: none;
}

.imagem-cabeçalho {
  margin-right: 25px;
  width: 70px;
}

.cabeçalho-logo {
  flex-wrap: nowrap;
  display: flex;
  text-decoration: none
}



.formulario-meio {
  text-align: center;
}

.fundo-bonito {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 900px;
}

.fundo-bonito-forca-aerea {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 900px;
  min-height: 150px;
  display: flex;
  transition-duration: 2s;

  & a {
    margin-left: 10px;
    text-decoration: none;
    color: #3a4ad4;

  }
}

.fundo-bonito-forca-aerea:hover {
  & img {
    transition-duration: 2s;
    width: 450px;
  }

  & a {
    font-size: 20px;
    transition-duration: 2s;
  }
}


.fundo-concurso {
  background-color: #6B8E23;
}

.titulo-curso {
  text-align: center;

}

.titulo-profissao {
  text-align: center;
}

.profissoes {
  background-color: rgb(255, 255, 255);
  max-height: 292px;

  & p {
    display: none;
  }

  & a {
    text-decoration: none;
  }
}

.container-lista {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1160px;

}

.lista-profissoes {
  display: flex;
  flex: 1;



  & li {
    margin-right: 10px;

  }

  & a {
    margin-right: 10px;
    display: block;
  }


}

.texto-sobe {
  top: -32px
}

.profissoes:hover {
  transition-duration: 2s;

  & p {
    display: block;
  }
}

.sociais {
  & .imagem2{
    display: none;
  }
}

.sociais:hover{
  & .imagem1{
    display:none
  }
  & .imagem2{
    display: inline-block;
  }
}

a.texto-profissao{
  position: relative;
  display: block;
  width: 370px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2 ease;
}

.texto-profissao img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-texto{
  position:absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color:white;
  color: #0066aa;
  padding: 20px;
  transition: bottom 2s ease;
}

a.texto-profissao:hover .card-texto{
  bottom: 0;
  transition: bottom 0.3s ease;
}

.Titulo-card{
  font-weight: bold;
  font-size: 18px;
}

.Descricao-card{
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

footer{
  background-color: #4B5320;
  margin-top: 20px;
}

#Copyright{
  margin-top: 100px;
}

 

.footer-stilo{
  display: flex;
  justify-content: space-between;
}

#h41zz{
  margin-bottom: 15px;
}